.review__table {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-image: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

.btn:hover {
    font-size: 1.1rem;
    transition: .9s;
}
